@model EducationalPlatform.ViewModels.ProjectStatementFilesProjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProjectStatement.ProjectName</h2>

@if (Model.Files.Any())
{
    <table class="table table-bordered">
        <tr>
            <th>Project recources</th>
            <th>Download  button</th>
        </tr>

        @foreach (var item in Model.Files)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>

                <td>
                    @Html.ActionLink("Download", "DownLoadFile", "Files", new { id = item.FileId }, null)
                </td>
            </tr>
        }
    </table>
}

<ul>
    <li>Course Name: @Model.ProjectStatement.Course.CourseName</li>
    <li>Project Description: @Model.ProjectStatement.ProjectDescription</li>
    <li>Project Deadline: @Model.ProjectStatement.ProjectDeadline</li>
    <li>Project Max Size: @Model.ProjectStatement.ProjectMaxSize</li>
</ul>

@if (Model.Project != null)
{
    <h4>@Html.ActionLink(Model.Project.FileName, "DownLoadFile", "Projects", new { id = Model.Project.ProjectId }, null)</h4>
    <h4><b>Project description:</b> @Model.Project.AdditionalInfo</h4>
}


<div>
    @using (Html.BeginForm("CreateOrUpdateProjectForStudent", "Projects", new { id = Model.Student.StudentId , projectStatementId = Model.ProjectStatement.ProjectStatementId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <p> Upload File</p>
            <input type="file" id="file" name="file" /><br />
            @*<input type="submit" value="Upload" />*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Project.AdditionalInfo)
            @Html.TextBoxFor(m => m.Project.AdditionalInfo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Project.AdditionalInfo)
        </div>
        @Html.HiddenFor(m => m.Project.ProjectId)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

