@model EducationalPlatform.ViewModels.CreateCourseViewModel
@{
    /**/

    ViewBag.Title = "CreateOrUpdateCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create course</h2>


@using (Html.BeginForm("Save", "Courses", new { id = Model.TeacherId }, FormMethod.Post, null))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Course.CourseName)
        @Html.TextBoxFor(m => m.Course.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.CourseName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.CourseDescription)
        @Html.TextBoxFor(m => m.Course.CourseDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.CourseDescription)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.SpecializationId)

        @Html.DropDownListFor(m => m.Course.SpecializationId, new SelectList(Model.Specializations, "SpecializationId", "SpecializationName"), "Select specialization", new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.SemesterId)

        @Html.DropDownListFor(m => m.Course.SemesterId, new SelectList(Model.Semesters, "SemesterId", "SemesterName"), "Select semester", new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.YearId)

        @Html.DropDownListFor(m => m.Course.YearId, new SelectList(Model.Years, "YearId", "YearName"), "Select year", new { @class = "form-control" })

    </div>

    @Html.HiddenFor(m => m.Course.CourseId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    
}
